@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #b91b13;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #b91b13;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(254, 251, 251);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px gray;
  background-color: hsl(var(--background));
}

.native-blur-small {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.native-blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.native-blur-card {
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1rem;
  overflow: hidden;
}

html {
  overflow-x: hidden;
}
